* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	text-decoration: none;
}

body {
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

nav {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 60px;
	background-color: #d8dadf;
	z-index: 10;
}

nav h2 {
	width: 25%;
	padding: 10px;
	text-align: center;
}

.clog {
	width: 38%;
}

.nav-cont {
	width: 20%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

nav a {
	transition: all ease-in-out 0.3s;
	text-decoration: none;
	color: black;
	font-size: 17px;
	font-weight: bold;
	border-bottom: rgba(0, 0, 0, 0) solid 3px;
}

nav a:hover {
	border-bottom: black solid 3px;
	color: black;
}

.clog2 {
	width: 10%;
}

.fas {
	font-size: 40px;
	margin-top: 0.5rem;
}

.hero {
	color: white;
	background-color: #333;
	background-image: url(./img/baner.jpg);
	background-size: 100%;
	background-position: 50% 40%;
	width: 100%;
	height: 100vh;
}

.hero-bg {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.692);
	width: 100%;
	height: 100vh;
}

.hero-text {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-direction: column;
	padding-top: 100px;
	text-align: center;
	padding-top: 25vh;
}

.hero h1 {
	font-size: 70px;
}

.hero h2 {
	font-size: 30px;
}

.hero-btn {
	display: inline-block;
	transition: all 0.4s;
	width: 160px;
	height: 45px;
	padding: 5px;
	margin: 40px;
	color: black;
	border-radius: 4px;
	background-color: rgb(255, 197, 39);
	font-weight: bold;
	font-size: 20px;
}

.hero-btn:hover {
	background-color: rgba(255, 197, 39, 0.555);
	margin-top: 35px;
	margin-bottom: 45px;
}

.scroll-image {
	padding: 10px;
}

.about {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all linear 0.5s;
	padding: 10px;
	background-color: #f0f2f5;
}

.about-carousel {
	width: 70vw;
}

.about-text {
	width: 15%;
	padding: 20px;
	z-index: 1;

	position: absolute;
	top: 5%;
	left: 65%;

	background-color: rgba(255, 197, 39, 0.897);
	font-family: 'Roboto';
	color: black;
	width: 18%;
	height: 200px;
	border-radius: 1%;
	box-shadow: black 10px 10px 20px;
}

.about-text h2 {
	text-transform: uppercase;
	font-size: 25px;
}

/* Sekcja statystyki */
.stats {
	height: 550px;
	background-color: #f0f2f5;
	transition: all linear 0.5s;
}
.stats-h2 {
	font-size: 40px;
	text-align: center;
	padding: 60px 0;
	color: black;
}

.stats-text {
	flex-direction: row;
	display: flex;
	justify-content: center;
}

.stats h3 {
	font-size: 20px;
	padding: 2px;
	margin: 0;
}

.icon-cont {
	cursor: pointer;
	padding: 20px;
	margin: 0 70px;
	width: 200px;
	height: 200px;
	background-color: rgba(255, 197, 39, 0.808);
	text-align: center;
	border-radius: 30%;
	transition: all 0.4s;
}
.icon-cont:hover {
	transform: scale(1.15);
}

.icon {
	width: 100px;
}

.hidden {
	opacity: 0;
}

.ps {
	width: 13vw;
	padding: 15px;
	margin-top: 30px;
	background-color: rgba(255, 197, 39, 0.808);
	border-radius: 10px;
	transition: all ease-in-out 0.5s;
	z-index: 1;
}

.ps p {
	margin: 0;
}
.stats-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* sekcja historia */

.history {
	display: flex;
	flex-direction: row;
	height: 700px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	transition: all ease-in-out 0.5s;
	padding: 10px;
	background: linear-gradient(180deg, #f0f2f5 0%, rgb(223, 222, 222) 20%);
}

.history-img {
	width: 50vw;
	height: 72vh;
}

.history-container {
	width: 50%;
}

.history h2 {
	text-align: center;
	padding: 30px;
	margin: 0;
	font-size: 25px;
}

.history p {
	margin: 0 8% 0 8%;
	font-size: 20px;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #d0d2d6;
	width: 100%;
	height: 100px;
	height: 15vh;
}

.media {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.media-images {
	width: 70px;
	transition: all linear 0.3s;
}

.media-images:hover {
	transform: scale(1.1);
}

.fill {
	fill: #333;
}
.fill:hover {
	fill: #000;
}

.stroke {
	stroke: #333;
}

.stroke:hover {
	stroke: #000;
}

/* DARK MODE */
.dark-body {
	background-color: rgb(0, 0, 0);
}

.transition-dark {
	transition: all linear 0.6s;
}

/* DARK NAV */
.dark-nav {
	background-color: #242526;
	color: rgba(245, 245, 245, 0.897);
}

.dark-nav-a {
	color: rgba(245, 245, 245, 0.897);
}

.dark-nav-a:hover {
	color: rgba(245, 245, 245, 0.897);
	border-bottom: rgba(245, 245, 245, 0.897) solid 3px;
}

/* DARK ABOUT */
.dark-about {
	background-color: #101010;
}

/* DARK STATS */
.dark-stats {
	background-color: #101010;
}

.dark-stats-h2 {
	color: rgba(245, 245, 245, 0.897);
}

/* DARK HISTORY */
.dark-history {
	background: linear-gradient(
		180deg,
		rgba(16, 16, 16, 1) 0%,
		rgba(20, 20, 20, 1) 20%
	);
	color: #e7e9ed;
}

/* DARK FOOTER */
.dark-footer {
	background-color: #242526;
}

.dark-instagram {
	stroke: #a8a8a8;
}

.dark-instagram:hover {
	stroke: #a8a8a8;
}

.dark-media {
	fill: #a8a8a8;
}

.dark-media:hover {
	fill: #a8a8a8;
}
/* @media only screen and (min-width: 2560px) {
}

@media only screen and (min-width: 1920px) and (max-width: 2559px) {
}

@media only screen and (min-width: 1680px) and (max-width: 1919px) {
}

@media only screen and (min-width: 1600px) and (max-width: 1679px) {
}

@media only screen and (min-width: 1440px) and (max-width: 1599px) {
}

@media only screen and (min-width: 1400px) and (max-width: 1439px) {
}

@media only screen and (min-width: 1366px) and (max-width: 1399px) {
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1279px) {
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
}

@media only screen and (min-width: 960px) and (max-width: 1023px) {
}

@media only screen and (min-width: 800px) and (max-width: 959px) {
}

@media only screen and (min-width: 768px) and (max-width: 799px) {
}

@media only screen and (min-width: 720px) and (max-width: 767px) {
}

@media only screen and (min-width: 640px) and (max-width: 719px) {
}

@media only screen and (min-width: 600px) and (max-width: 639px) {
}

@media only screen and (min-width: 480px) and (max-width: 599px) {
}

@media only screen and (max-width: 479px) {
} */
