* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}

body {
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #101010;
	color: #b8b8b8;
}

.hero {
	background-color: #333;
	background-image: url(../img/baner.jpg);
	background-size: 100%;
	background-position: 50% 40%;
	width: 100%;
	height: 100vh;
}

.hero-bg {
	display: flex;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.692);
	width: 100%;
	height: 100vh;
}

.hero-text {
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: white;
	transform: translate(0, 70%);
}

.title {
	font-size: 60px;
}

.hero-ps {
	font-size: 20px;
}

.start {
	margin: 20px;
	padding: 10px;
	background: #333;
	border: 3px solid #ffbc05;
	color: #ffc527e5;
	cursor: pointer;
	transition: transform cubic-bezier(0.35, -0.58, 0, 1.07) 0.5s;
}

.start:hover {
	transform: scale(1.1);
}

.question {
	text-align: center;
	padding: 20px;
}

.q-num {
	font-size: 23px;
	font-weight: bold;
}

.answers {
	display: flex;
	width: 97vw;
	height: 300px;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

.a {
	padding: 9px 9px 9px 0px;
	color: #dddddd;
	border: 3px solid #b8b8b8;
	cursor: pointer;
	transition: transform linear 0.15s;
	user-select: none;
}

.a:hover {
	color: #ffc527e5;
	border: 3px solid #ffc527e5;
	transform: scale(1.2);
}

.a::before {
	position: relative;
	top: 0;
	left: -3px;
	padding: 9px;
	margin-right: 10px;
	font-weight: bold;
	border: 3px solid #ffc527e5;
	color: #ffc527e5;
}

.a1::before {
	content: 'A';
}

.a2::before {
	content: 'B';
}

.a3::before {
	content: 'C';
}

.q {
	display: none;
}

.q p {
	font-size: 20px;
}

.summary {
	position: relative;
	left: -35px;
	width: 97vw;
	text-align: center;
	font-size: 20px;
	color: white;
	padding-bottom: 20px;
	display: none;
	align-items: center;
	flex-direction: column;
}

.text-summary{
	font-size: 30px;
}

.score {
	color: #a946f0;
}

.reload {
	width: 100px;
	height: 50px;
	cursor: pointer;
	margin: 20px;
	padding: 5px;
	transition: transform linear 0.1s;
	border: 3px solid white;
}

.reload:hover {
	transform: scale(1.2);
	border: 3px solid #a946f0;
}

@media (max-width: 767px) {
    .wave svg {
        width: calc(161% + 1.3px);
        height: 103px;
    }
}
