:root {
	--site-height: 150vh;
	--hero-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}

body {
	width: 100%;
	height: var(--site-height);
	font-family: 'Open Sans', sans-serif;
	background-color: #101010;
	color: #b8b8b8;
}

.hero {
	background-color: #333;
	background-image: url(../img/baner.jpg);
	opacity: 0.8;
	background-size: 100%;
	background-position: 50% 80%;
	width: 100%;
	height: var(--hero-height);
}

.hero-bg {
	display: flex;
	justify-content: center;
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 0) 0%,
		rgba(16, 16, 16, 1) 90%
	);
	width: 100%;
	height: var(--hero-height);
}

.hero-text {
	height: 50vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	color: rgb(226, 226, 226);
	transform: translate(0, 70%);
	font-weight: bold;
	text-shadow: #080808 5px 5px 8px;
}

.title {
	font-size: 60px;
}

.hero-ps {
	font-size: 20px;
}

.trzycierzpass {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 30vh;
}

.quote-return {
	margin: 20px;
	font-size: 25px;
	width: 50%;
	text-align: center;
}

.message {
	letter-spacing: 0.8px;
}

.message::before {
	content: url('./svg/open-quote.svg');
	position: relative;
	top: 15px;
	left: -10px;
}
.message::after {
	content: url('./svg/close-quote.svg');
	position: relative;
	top: -5px;
	right: -10px;
}

.name {
	font-weight: bold;
	font-size: 1.1em;
}

.insert {
	font-size: 22px;
	padding: 20px;
}

.intr-cont {
	display: flex;
	align-items: center;
	height: 50px;
}

.submit {
	width: 45px;
	height: 45px;
	transform: translate(5px, 0);
}

.introduce {
	font-size: 20px;
	padding-left: 5px;
}

.result-cont {
	display: none;
	align-items: center;
	height: 40px;
	padding: 0px 10px;
	margin: 20px;
}

.copy {
	display: none;
	align-items: center;
	justify-content: center;
	position: relative;
	right: -14px;
	width: 80px;
	height: 40px;
	padding: 5px;
	cursor: pointer;
	transition: all linear 0.2s;
	border: 2px solid #ffc527e5;
	background-color: #101010;
	color: #ffc527e5;
}

.copy:hover {
	transform: scale(1.2);
}

.copy-show {
	display: flex;
}

.result {
	font-size: 20px;
}

/* STOPKA */
footer {
	position: absolute;
	top: var(--site-height);
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #080808;
	width: 100%;
	height: 100px;
	height: 15vh;
}

.media {
	display: flex;
	justify-content: space-between;
	width: 40%;
}

.media-images {
	width: 70px;
	transition: all linear 0.3s;
}

.media-images:hover {
	transform: scale(1.1);
}

.fill {
	fill: #333;
}
.fill:hover {
	fill: #585858;
}

.stroke {
	stroke: #333;
}

.stroke:hover {
	stroke: #585858;
}

.copy-anim {
	width: 15%;
	height: 10vh;
	position: fixed;
	top: -200px;
	left: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translate(-50%, 0);
	background-color: rgba(90, 75, 75, 0.52);
	margin: 10px 0;
	border-radius: 20px;
	font-size: 25px;
	font-weight: bold;
	color: rgb(170, 160, 160);
}

.anim-callout {
	animation: copy-anim 3s ease-in-out;
}

@keyframes copy-anim {
	0% {
		top: -150px;
	}

	30% {
		top: 0;
	}

	50% {
		top: 0px;
		opacity: 0.5;
	}

	100% {
		opacity: 0;
	}
}

@media only screen and (min-width: 321px) and (max-width: 900px) {
	.hero {
		background-size: 300%;
		background-position: 50% 0;
	}
	.title {
		font-size: 50px;
	}
	footer {
		top: 1350px;
	}
	.media {
		width: 300px;
	}
	.copy-anim {
		width: 200px;
	}
}

@media only screen and (max-width: 320px) {
	.hero {
		height: 80vh;
		background-size: 300%;
		background-position: 50% 0;
	}
	.hero-bg {
		height: 80vh;
	}
	.title {
		font-size: 45px;
	}
	footer {
		top: 1200px;
	}
	.media {
		width: 250px;
	}
	.copy-anim {
		width: 200px;
	}
}
