.intr-cont{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100vw;
}

.submit{
    width: 43px;
    transform: translate(3px,0);
}

.introduce{
    height: 30px;
    width: 200px;
    font-size: 20px;
    padding-left: 5px;
}